.entire-board{
	margin: 50 50 10 10;
}

.circle {
    background: #F0F0CC;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 auto;
}
td{
	width: 50px;
	height: 50px;
	border-style: solid;
    background: yellow;
    text-align: center;
}

.circle {
    background: #F0F0CC;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}